/*
 * charts.css
 */
div.chart {
    background-color: var(--bgcolor1);
    border-radius: 5px;
    width: auto;
    height:auto;
    margin-bottom: 10px;
}

div.chart div#boxtitle {
    width: inherit;
    /* height: 20px; */
    font-size: 10pt;
    font-family: Arial;
    font-weight: bold;
    color: var(--bgcolor0);
    clear: both;
    padding-top: 5px;
}

div.chart div#boxtitle  text {
    float: left;
    text-align: center;
    width: 650px;
}

div.chart g.axis {
    font-size: 10pt;
    font-family: Arial;
    font-weight: bold;
    fill: var(--bgcolor0);
    stroke: var(--bgcolor0);
}

div.chart g.axis text{
    stroke: none
}

div.chart g.axis path.domain{
    stroke-width: 2px;
    stroke: inherit;
    fill: none;
}

div.chart g.yaxis g.tick  line{
    stroke-width: 2px;
    stroke: var(--bgcolor0);
    fill: none;
}


/* Migration Top List Barchart specific */
div#migrationtopchart g.chart rect {
    fill: var(--bgcolor0);
}

div#migrationtopchart g.chart rect.selected{
    fill: var(--sourcecountryselectioncolor);
}

/* gdp-er-migration line chart specific */
div#gdpermigchart g.xaxis g.tick line {
    stroke-width: 2px;
    stroke: var(--bgcolor0);
    fill: none;
}

div#gdpermigchart g.chart path {
    fill: none;
    stroke: var(--sourcecountryselectioncolor);
    stroke-width: 2px;
}
