:root{
    --bgcolor0: #90AFC5;
    --bgcolor1: #2A3132;
    --sourcecountryselectioncolor: #BB55BB;
    --targetcountryselectioncolor: #AA3626;
    --timeselectioncolor: #FFFFFF;
    --gdpcolor: #ffff55;
    --ercolor: #59ff59;
    --migcolor: #3333EE;
}
