/*
 * geolist.css
 */
 
 div#geolist {
    height: auto;
    width: 160px;
    float: left;
 }
 
 div#geolist ul {
    clear:both;
    height: auto;
    margin-bottom: 10px;
    margin-top: 2px;
    padding: 0 0px;
 }
 
 div#geolist li {
    display: block;
    width: auto;
    height: 18px;    
    list-style-position: inside;
    list-style-type: none;
    background-color: var(--bgcolor0);
    border: 2px solid var(--bgcolor0);
    margin: 0px 0px 0px 45px;
    padding: 0 0 0 0;
    
    color: var(--bgcolor1);    
    text-align: right;    
    font-size: 10pt;
    font-family: Arial;
    font-weight: bold;
    
    cursor: pointer;
 }
 
 div#geolist li.hovering {
    /*border: 2px solid var(--targetcountryselectioncolor);*/
    background-color: var(--targetcountryselectioncolor);
    opacity: 0.5;
    border: 2px solid var(--targetcountryselectioncolor);
    color: var(--bgcolor0);    
 }
 
 div#geolist li.selected {
    background-color: var(--targetcountryselectioncolor);
    border: 2px solid var(--targetcountryselectioncolor);
    color: var(--bgcolor0);
 }

div#geolist li text {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 3px;
    opacity: 1;
}
