/*
 * geomap.css
 */

div#geomap {
    float:right;
}

div#geomap path {
    stroke: var(--bgcolor0);
    fill: var(--bgcolor1);
}

div#geomap path.selected {
    fill: var(--targetcountryselectioncolor);
}

div#geomap path.hovering {    
    /*stroke-width: 2px;*/
    fill: var(--targetcountryselectioncolor);
    opacity: 0.5;
}
