/*
 * parallelaxis.css
 */

div#parallelaxis {
    width: inherit;
    clear: both
    float: none;
    margin-top: 5px;
}

div#parallelaxis g.lines path{
    fill: none;
    stroke: var(--bgcolor1);
    opacity: 0.5;
    stroke-width: 5px;
}

div#parallelaxis g.lines path.selected {
    stroke: var(--targetcountryselectioncolor);
    stroke-width: 5px;
    opacity: 1;
}

div#parallelaxis g.lines path.hovering {
    stroke: var(--targetcountryselectioncolor);
    stroke-width: 5px;
    opacity: 0.5;
}

div#parallelaxis g.dotcontainer circle{
    stroke: none;
    fill: var(--bgcolor1);
    opacity: 0.5;
    stroke-width: 0px;
}

div#parallelaxis g.dotcontainer.selected circle { 
    fill: var(--targetcountryselectioncolor);
    opacity: 1;
}

div#parallelaxis g.dotcontainer.hovering circle {
    fill: var(--targetcountryselectioncolor);
    opacity: 0.5;
}

div#parallelaxis g.axis {
    fill: none;
    stroke-width: 1px;
}

div#parallelaxis g.axis path {
    fill: none;
    stroke: inherit;
    stroke-width: 2px;
}

div#parallelaxis g.axis  text {
    font-size: 10pt;
    font-family: Arial;
    font-weight: bold;
    fill: inherit;
    stroke: none;
}

div#parallelaxis g.gdpaxis {
    stroke: var(--gdpcolor);
    fill: var(--gdpcolor);
}

div#parallelaxis g.eraxis  {
    stroke: var(--ercolor);
    fill: var(--ercolor);
}

div#parallelaxis g.migaxis {
    stroke: var(--migcolor);
    fill: var(--migcolor);
}
