body {
    background-color: var(--bgcolor0);
}

main {
    position: absolute;
    margin: 0 auto;
    width: 1300px;
    top: 70px;
    left: 0;
    right: 0;
}

div#geocontainer {
    float: left;
    width: 610px;
    height: 650px;
    margin-top: 5px;
    /* border: 1px solid var(--sourcecountryselectioncolor); */
}

div#geocontainer div#boxtitle {
    width: inherit;
    height: 20px;
    padding-left: 160px;
    font-size: 10pt;
    font-family: Arial;
    font-weight: bold;
    color: var(--bgcolor1);
    clear: both;
}

div#geocontainer div#boxtitle text {
    float: left;
}

div#geocontainer div#boxtitle div.geoselector {
    float:left;
    display: block;
    color: var(--bgcolor1);
    border: 1px dotted var(--bgcolor1);
    width: auto;
    height: inherit;
    margin-left: 5px;
    padding: px 3px;
    cursor: pointer;
}

div#geocontainer div#boxtitle div.geoselector.selected {
    background-color: var(--bgcolor1);
    color: var(--bgcolor0);
}

div#chartcontainer {
    float: left;
    width: 665px;
    margin-left: 20px;
}

div#chartlegend svg g.legend  g.cell {
    cursor: pointer;
}

div#chartlegend svg g.legend rect.swatch.selected {
    stroke: var(--bgcolor1);
    stroke-width: 2px;
}

div#chartlegend svg g.legend text{
    fill: var(--bgcolor1);
    text-align: right;
    font-size: 10pt;
    font-family: Arial;
    font-weight: bold;
}

div#chartlegend svg g.legend .swatch {
    stroke-width: 5px;
}

.clear{
    clear: both;
}
