div#timeline {
    width: 820px;
    height: 50px;
    padding: 0px 10px;
    margin: 0 auto;
    background-color: var(--bgcolor1);
    border-radius: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: -;
    border: 1px solid var(--bgcolor0);
    /*bottom: 10px; TODO: evaluate if useful*/
}

div#timeline *{
    cursor: default;
}

div#timeline path.tlaxis {
    stroke-width: 1.5;
    stroke: var(--bgcolor0);
    fill: var(--bgcolor0);
}

div#timeline g.vline_container path{
    stroke-width: 1;
    stroke: var(--bgcolor0);
    fill: var(--bgcolor0);
}

div#timeline g.vline_container path.selected{
    stroke: var(--timeselectioncolor);
}
div#timeline g.ynumber_container text {
    text-align: center;
    fill: var(--bgcolor0);
    font-size: 10pt;
    font-family: Arial;
    font-weight: bold;
}

div#timeline g.ynumber_container text.selected {
    fill: var(--timeselectioncolor);
}

div#timeline g.ticks_container rect{
    opacity: 0.0;
}

div#timeline g.highlight_container rect{
    fill: var(--timeselectioncolor);
    fill-opacity: 1.0;   
    stroke-width: 1;
    stroke: var(--timeselectioncolor); 
}

div#timeline g.highlight_container circle{
    stroke-width: 1;
    stroke: var(--timeselectioncolor);
    fill: var(--timeselectioncolor);
}